<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flávia</title>

    <link rel="stylesheet" href="/styles/partials/header.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=menu&display=block
">
</head>

<body>
    <%- include("./partials/header.ejs") %>
        <%- include("./partials/sidebar.ejs") %>

            <main class="w3-grid">
                <nav class="w3-bar-block w3-card w3-round-medium w3-hide-small">
                    <h3 class="w3-bar-item w3-center w3-pink" style="margin: 0;">Menu</h3>
                    <a href="/admin" class="w3-button w3-bar-item w3-hover-pink">Home</a>
                    <a href="/admin/create" class="w3-button w3-bar-item w3-hover-pink">Criar produto</a>
                    <a href="/admin/update" class="w3-button w3-bar-item w3-hover-pink">Atualizar Produto</a>
                    <a href="/admin/delete" class="w3-button w3-bar-item w3-hover-pink">Excluir Produto</a>
                </nav>

                <section class="w3-grid" id="dashboard">
                    <div class="w3-container w3-card w3-center w3-round-medium w3-border-pink w3-topbar card">
                        <h2>Total de produtos</h2>
                        <% if (typeof totalProducts==="undefined" ) {%>
                            <h1>0</h1>
                            <%} else {%>
                                <h1>
                                    <%= totalProducts %>
                                </h1>
                                <%}%>
                    </div>
                    <div class="w3-container w3-card w3-center w3-round-medium w3-border-pink w3-topbar card">
                        <h2>Categorias</h2>
                        <% if (typeof categories==="undefined" ) {%>
                            <h1>0</h1>
                            <%} else {%>
                                <h1>
                                    <%= categories %>
                                </h1>
                                <%}%>
                    </div>
                    <div class="w3-container w3-card w3-center w3-round-medium w3-border-pink w3-topbar card">
                        <h2>Itens recentes</h2>
                        <% if (typeof recentProducts==="undefined" ) {%>
                            <h1>0</h1>
                            <%} else {%>
                                <h1>
                                    <%= recentProducts %>
                                </h1>
                                <%}%>
                    </div>
                </section>
            </main>

            <script src="/js/header.js"></script>
</body>

</html>