<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promos da Flávia</title>

    <link rel="stylesheet" href="/styles/main/index.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="shortcut icon" href="/img/promos-icon.webp" type="image/x-icon">
</head>

<body>
    <header class="w3-grid w3-pink" id="page-header">
        <a href="/" id="header-logo">
            <img src="/img/header-logo.webp" alt="Logotipo" loading="lazy">
        </a>
        <h2 class="w3-center">Promos da Flávia</h2>
    </header>

    <main class="w3-content">
        <section class="w3-margin-top w3-padding-16 w3-card" id="page-introduction">
            <section class="w3-container intro-img-container">
                <img src="/img/hero-image.webp" alt="Imagem de Introdução" class="w3-round-large" id="intro-img"
                    loading="lazy">
            </section>

            <section class="w3-container intro-content-container">
                <header>
                    <h2 class="w3-center">Bem-vindo!</h2>
                </header>

                <p class="w3-justify">
                    Bem-vindo à página de promoções <b>Promos da Flávia</b>.
                    <br>
                    Aqui você encontrará os melhores preços da <b>Shopee</b> e da <b>Magazine Luiza</b>, além de poder
                    navegar por
                    categorias específicas de produtos.
                    <br>
                </p>
                <p>
                    Não perca tempo! Dê uma olhada em nossas ofertas.
                </p>
            </section>
        </section>

        <section class="w3-margin-top w3-card" id="daily-offers-container">
            <header class="daily-offers-header w3-center w3-pink">
                <span class="material-symbols-outlined">star_shine</span>
                <span class="w3-large">Ofertas do dia!</span>
            </header>

            <%if(typeof dailyOffers !=="undefined" ){%>
                <section class="daily-offers-content">
                    <%for(let i=0; i < dailyOffers.length; i++){%>
                        <div class="daily-product w3-card-2 w3-round-large w3-padding">
                            <div class="daily-product-img-container">
                                <img src="/img/products/<%= dailyOffers[i].img %>" alt="<%= dailyOffers[i].name %>"
                                    class="daily-product-img w3-round-large w3-card-2" loading="lazy">
                            </div>

                            <div class="daily-product-content">
                                <p class="daily-product-title w3-center">
                                    <%= dailyOffers[i].name %>
                                </p>
                                <p class="daily-product-price">
                                    R$ <%= dailyOffers[i].price %>
                                </p>
                            </div>

                            <div>
                                <a href="<%= dailyOffers[i].link %>"
                                    class="w3-button w3-pink w3-round-large daily-product-button" target="_blank">
                                    Ver
                                </a>
                            </div>
                        </div>
                        <%}%>
                </section>
                <%} else {%>
                    <section class="no-daily-offers">
                        <section class="w3-center section-img-container">
                            <img src="/img/index/daily-highlights.webp" alt="Caixa de promoção"
                                class="section-img w3-round-large" loading="lazy">
                        </section>
                        <section>
                            <header>
                                <h3 class="no-daily-offers-title">
                                    <span class="material-symbols-outlined">
                                        diamond_shine
                                    </span>
                                    Ofertas do dia!
                                </h3>
                            </header>
                            <p class="w3-center">
                                As ofertas do dia ainda não foram adicionadas.
                            </p>
                        </section>
                    </section>
                    <%}%>
        </section>

        <section class="category-container w3-margin-top w3-card">
            <header class="category-header w3-center w3-pink">
                <span class="material-symbols-outlined">stacks</span>
                <span class="w3-large">Categorias de produtos</span>
            </header>

            <section id="category-container">
                <section class="w3-center category-img-container">
                    <img src="/img/index/category-tab.webp" alt="Homem segurando notebook"
                        class="category-img w3-round-large w3-center" loading="lazy">
                </section>

                <section class="category-content w3-center">
                    <%if(typeof categories !=="undefined" ){%>
                        <div class="category-list-container">
                            <ul class="category-list w3-ul w3-hoverable w3-bordered">
                                <%for(let i=0; i < categories.length; i++) {%>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            package
                                        </span>
                                        <span class="w3-large">
                                            <%= categories[i].name %>
                                        </span>
                                    </li>
                                    <%}%>
                            </ul>

                            <div>
                                <a href="/category" class="w3-button w3-pink w3-round-large">
                                    Ver produtos
                                </a>
                            </div>
                        </div>

                        <%} else {%>
                            <div class="w3-flex category-not-found">
                                <h3>
                                    Oops... ainda não temos nenhuma categoria
                                    cadastrada.
                                </h3>

                                <p>
                                    Enquanto isso, você pode checar nossa página de
                                    produtos na Shopee.
                                </p>

                                <div>
                                    <a href="https://collshp.com/promodaflaviana?view=storefront"
                                        class="w3-button w3-border w3-border-gray w3-round-large contact-link"
                                        target="_blank">
                                        <span>
                                            <img src="/img/index/package.png" alt="" height="24" width="24"
                                                loading="lazy">
                                        </span>
                                        Shopee
                                    </a>
                                </div>
                            </div>
                            <%}%>
                </section>
            </section>
        </section>

        <section class="w3-margin-top w3-card" id="contact-me">
            <header class="contact-header w3-pink">
                <span class="material-symbols-outlined">mail</span>
                <span class="w3-large">Contato</span>
            </header>

            <section class="contact-content-container">
                <section class="w3-center section-img-container">
                    <img src="/img/index/contact-me-tab.webp" alt="Caixa de promoção" class="section-img w3-round-large"
                        loading="lazy">
                </section>

                <section>
                    <header class="contact-link-header">
                        <span class="material-symbols-outlined">mail</span>
                        <span>Visite os nossos perfis</span>
                    </header>

                    <section>
                        <div class="w3-flex" id="contact-links-container">
                            <a href="https://www.instagram.com/promosdaflaviana?igsh=MXc0dzE4MDFueGowNw%3D%3D"
                                class="w3-button w3-border w3-border-gray w3-round-large contact-link" target="_blank">
                                <span>
                                    <img src="/img/index/instagram-logo.png" alt="Logotipo do Instagram" height="24"
                                        width="24" loading="lazy">
                                </span>
                                <span>Instagram</span>
                            </a>
                            <!-- <a href="" class="w3-button w3-border w3-border-gray w3-round-large contact-link">
                                <span>
                                    <img src="/img/index/facebook-logo.png" alt="" height="24" width="24">
                                </span>
                                <span>Facebook</span>
                            </a> -->
                            <a href="https://collshp.com/promodaflaviana?view=storefront"
                                class="w3-button w3-border w3-border-gray w3-round-large contact-link" target="_blank">
                                <span>
                                    <img src="/img/index/package.png" alt="Caixa de produto" height="24" width="24"
                                        loading="lazy">
                                </span>
                                <span>Shopee</span>
                            </a>
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </main>

    <footer id="footer" class="w3-container w3-pink w3-margin-top">
        <section class="footer-content">
            <div class="footer-header">
                <img src="/img/header-logo.webp" alt="Logo da página" class="footer-img" loading="lazy">
                <p class="w3-large">Promos da Flávia</p>
            </div>

            <a href="#page-header" class="footer-btn w3-button w3-round-large w3-border w3-border-white">
                <span>
                    Voltar ao topo
                </span>
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>
            </a>
        </section>

        <section class="w3-margin-top w3-center w3-hide-small" id="goodbye-img-container">
            <img src="/img/index/despedida.webp" alt="Imagem de rodapé" class="goodbye-img" loading="lazy">
        </section>
    </footer>
</body>

</html>